*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
application/common/ci_session
application/admin/config/database.php
application/frontend/config/database.php